
/* Light squares - pure white */
.light-square {
    -fx-background-color: white;
    -fx-stroke: #cccccc;
    -fx-stroke-width: 3;
}

/* Dark squares - pure black */
.dark-square {
    -fx-background-color: black;
    -fx-stroke: #333333;
    -fx-stroke-width: 3;
}

/* Hover effects for better user interaction */
.light-square:hover {
    -fx-background-color: #f5f5f5;
    -fx-stroke: #999999;
    -fx-stroke-width: 3;
}

.dark-square:hover {
    -fx-background-color: #333333;
    -fx-stroke: #666666;
    -fx-stroke-width: 3;
}

/* Selected square highlighting */
.square-selected {
    -fx-stroke: #ffff00;
    -fx-stroke-width: 3;
}

/* Possible move highlighting */
.square-possible-move {
    -fx-stroke: #00ff00;
    -fx-stroke-width: 3;
}

/* Last move highlighting */
.square-last-move {
    -fx-stroke: #ff6600;
    -fx-stroke-width: 3;
}